.main-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .child > * {
    margin-bottom: 2rem;
  }
  
  label,
  input,
  select {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
  }
  button {
  padding: 1rem;
  font-size: 1.5rem;
  color: blue;
  border-radius: 10px;
}