<div class="portfolio-About portfolio-details-show">
    <h1>About Me</h1>
    <p>I am Ruchit Patel, a very passionate student looking for opportunities in the world of Web Development and
      creating an innovative solutions to complex problems.I am a graduate from BITS Edu
      Campus,Vadodara,Gujarat.Currently working as a trainee at Radixweb,Ahmedabad.I made some projects while doing
      my Udemy certification course such as Tindog(Web page using bootstrap),Dicee Game,To-do-List.I beleive
      programming is not about getting a good pay job, it's about transforming your ideas into reality.If you are
      interested in my work
      or if you like to collaborate,feel free to contact me.</p>
  </div>
