

<div>
    <h1>Sign Up Component</h1>
    <form>
        <div class="d-flex flex-column gap-4">
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter Name">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" placeholder="Enter Address.">
        </div>  
        <div class="form-group">
            <input type="text" class="form-control" id="pan" name="pan" [(ngModel)]="pan" placeholder="Enter PAN Number">
        </div>  
        <button type="button" class="btn btn-primary" (click)="signUp()">Sign Up</button>
    </div>
    </form>
</div>