<div class="portfolio-Skills">
  <h1>Professional Skills</h1>
  <ul>
    <li><span class="fa-solid fa-code"></span>HTML5</li>
    <li><span class="fa-brands fa-css3-alt"></span> CSS</li>
    <li><span class="fa-brands fa-square-js"></span>Javascript</li>
    <li><span class="fa-brands fa-node"></span>Node JS</li>
    <li><span class="fa-brands fa-react"></span>React</li>
    <li><span class="fa-brands fa-angular"></span>Angular</li>
    <li><span class="fa-brands fa-vuejs"></span>Vue</li>
    <li><span class="fa-brands fa-git-alt"></span>GIT Version Control</li>
  </ul>
</div>
