<div class="portfolio-contact">
    <h1>Contact</h1>
    <p><strong><span class="fa-solid fa-square-phone"></span>Mobile: </strong>+91 98765 23456</p>
    <p><strong><span class="fa-solid fa-square-envelope"></span>Email: </strong>ruchit.patel@radixweb.com</p>
    <div style="display: flex; align-items: flex-start; gap: 1rem;">
      <strong><span class="fa-solid fa-house-chimney"></span>Address: </strong>
      <p style="margin-top: 0;line-height: 1.5;">C-702 Dev Auram,<br>
        Near Godrej Garden City,<br>
        Ahmedabad,Gujarat<br>
        Ahmedabad-382470</p>
    </div>

  </div>
