<div class="portfolio-Education">
    <h1>Education</h1>
    <h3><span class="fa-solid fa-angles-right"></span>Bachelor of Engineering(Computer Science & Engineering)</h3>
    <p>BITS Edu Campus,Vadodara,Gujarat</p>
    <p>Gujarat Technological University</p>
    <p>CGPA: 9.54/10</p>
    <p>Year of Completion: May,2022</p>

    <h3><span class="fa-solid fa-angles-right"></span>Higher Secondary(XII), Science</h3>
    <p>Shree Swaminarayan Gurukul School,Salvav</p>
    <p>GSEB Board</p>
    <p>Year of Completion: April,2018</p>

    <h3><span class="fa-solid fa-angles-right"></span>Secondary(X)</h3>
    <p>Shree Swaminarayan Gurukul School,Salvav</p>
    <p>CBSE Board</p>
    <p>Year of Completion: March,2016</p>
  </div>
