<div class="portfolio-Certifications">
    <h1>Certification Courses</h1>
    <div class="Certifications-details">
      <div class="Certifications-details-logo"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR60IFYhHnwaiAD7GL3t9BtMYujLuSYbcZr5w&usqp=CAU"
          alt="udemy-logo"></div>
      <div class="Certifications-details-content">
        <p>The Complete Web Development Bootcamp, 2021 </p>
        <p>Udemy, Online</p>
        <p>Nov,2021 to March,2022</p>
      </div>
    </div>
  </div>
